<h1>Rotten mangoes</h1>
<%= link_to "Submit a new movie", new_movie_path %>
<%= @movies.each do |movie| %>
  <%= link_to image_tag(movie.poster_image_url), movie_path(movie) %>
  <h2><%= link_to movie.title, movie_path(movie) %></h2>
  <p>Directed by: <%= movie.director %></p>
  <p><%= movie.runtime_in_minutes %> minute runtime</p>
  <p><%= movie.description %></p>
  <p>Release date: <%= formatted_date(movie.release_date) %></p>
  <% if movie.review_average %>
  <p><%= movie.review_average %>/10 average rating</p>
  <% else %>
  <p>No reviews yet for this film</p>
  <% end %>
<% end %>


