<%= link_to "Back to main page", movies_path %>

<%= render @user %>
<%= render @user.reviews %>




  <%= link_to movie_path(review.movie_id) do %>
    <p><strong><%= review.movie.title %></strong></p>
  <% end %>

