<h2>Users</h2>

<%= link_to "Create a new user", new_admin_user_path %><br>

<%= paginate @users %>
<div class="container">
  <table class="responsive-table bordered highlight">
    <thead>
      <tr>
        <th data-field="id">User ID</th>
        <th data-field="email">Email</th>
        <th data-field="first">First</th>
        <th data-field="last">Last</th>
    </thead>
    <% @users.each do |user| %>
      <tbody>
        <tr>
          <td><%= link_to user.id, admin_user_path(user)%></td>
          <td><%= user.email %></td>
          <td><%= user.firstname %></td>
          <td><%= user.lastname %></td>
          <td><% if user.admin %><strong>Admin</strong><% end %></td>
    <% end %>
    </tbody>
      </tr>
  </table>
</div>


